<nav class="bg-neutral-100 w-52 h-full border-r-2 border-slate-200">
  <ul>
    <li>
      <a
        [routerLink]="['/routePath']"
        routerLinkActive="router-link-active"
        class="h-10 w-full flex items-center pl-5 border-b-2 border-slate-200 hover:bg-neutral-200"
        >Forum</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/routePath']"
        routerLinkActive="router-link-active"
        class="h-10 w-full flex items-center pl-5 border-b-2 border-slate-200 hover:bg-neutral-200"
        >Forum</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/routePath']"
        routerLinkActive="router-link-active"
        class="h-10 w-full flex items-center pl-5 border-b-2 border-slate-200 hover:bg-neutral-200"
        >Forum</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/routePath']"
        routerLinkActive="router-link-active"
        class="h-10 w-full flex items-center pl-5 border-b-2 border-slate-200 hover:bg-neutral-200"
        >Forum</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/routePath']"
        routerLinkActive="router-link-active"
        class="h-10 w-full flex items-center pl-5 border-b-2 border-slate-200 hover:bg-neutral-200"
        >Forum</a
      >
    </li>
  </ul>
</nav>
